body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;  
}

#root {
  height: 100vh;
  width: 100%;
  overflow: hidden;
  position: relative;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}



.actions {
  display: flex;
  position: fixed;
  left: 50%;
  transform: translate(-50%);
  bottom: 50px;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  height: 20%;
}

@media (max-width: 992px) {
  button{
    font-size: 14pt;
    background-color: white;
    border: solid 3.5px black;
    padding-top: 1.5%;
    padding-left: 4%;
    padding-right: 4%;
    padding-bottom: 1.5%;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
  }

  h1{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
  }

  p{
    padding: 1em;
    line-height: 25px;
  }

  h1 {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
  }



  .img-quiz-1 {
    position: static;
    width: 16% !important;
    z-index: -1 !important;
  }
  .img-quiz-2{
    width: 45% !important;
  }
  
  .text-quiz {
    padding: 1em;
    padding-right: 2em;
  }

  .btn-quiz{
    font-size: 14pt;
    background-color: white;
    border: solid 3.5px black;
    padding-top: 1.5%;
    padding-left: 4%;
    padding-right: 4%;
    padding-bottom: 1.5%;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    margin-right: 234px;
  }

  .button-motion-1{
  }

  .button-motion-2{
  }


  .img-bg-1{
  }

  .img-bg-2{
    position: absolute;
    width: 347.65px;
    height: 252.84px;
    left: 170px;
    top: -41.54px;
  }

  .img-motion2{ 
    position: static;
    width: 16% !important;
    z-index: -1 !important;
  }
  

  .h1-motion2{
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    position: absolute;

    -webkit-text-stroke: 1px white;
  }

  .btn2-motion2 {

  }

  .text-motion2 {
    font-size: 20px;
    line-height: 30px;
  }

  .h1-quiz {
    padding-right: 2em;
    padding-left: 1em;
}

  svg{
    position: absolute;
    z-index: -2; 
  }
}



